[user]
	name = Ryutaro Kawaguchi
	email = kawakawaryuryu@hotmail.co.jp
[core]
	excludesfile = ~/.gitignore_global
[alias]
    st = status
    df = diff
    co = checkout
    b = branch
    ad = add
    cm = commit
