[user]
	name = Ryutaro Kawaguchi
	email = kawakawaryuryu@hotmail.co.jp
[core]
	excludesfile = ~/.gitignore_global
[alias]
    st = status
    df = diff
    co = checkout
    b = branch
    ad = add
    cm = commit
    p = push
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = 
	helper = !/home/linuxbrew/.linuxbrew/Cellar/gh/2.21.1/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/home/linuxbrew/.linuxbrew/Cellar/gh/2.21.1/bin/gh auth git-credential
